{% extends 'base.html' %}

{% block content %}
  <body class="mt-5 pt-4">
    <div class="container">

        <div class="table-responsive text-nowrap">
            {% for orders in object %}
            <p>{{orders.date_ordered}}</p>

            <hr>

            <table class="table">
                <thead>
                  <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Item Price</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order_item in orders.items.all %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ order_item.item.name }}</td>
                    <td>${{ order_item.item.price|floatformat:2 }}</td>
                    <td>{{ order_item.quantity }}</td>
                    <td>
                      ${{ order_item.get_total_item_price|floatformat:2}}
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                      <td colspan="5">Your cart is empty</td>
                  </tr>
                    {% endfor %}
                    {% if orders.get_total %}
                  <tr>
                      <td colspan="4"><b>Order Total</b></td>
                      <td colspan="5"><b>${{ orders.get_total|floatformat:2 }}</b></th>
                  </tr>
                  {% endif %}
                </tbody>
              </table><br><br>
            {% endfor %}
          </div>
    </div>
</body>
{% endblock content %}
